.row {
    max-width: $grid-width;
    // standard 1140px grid
    // background-color: #eee;
    margin: 0 auto;
    // center the row in the viweport

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    // select all the classes which start with col-
    [class^='col-'] {
        // background-color: orange;
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizonatl;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizonatl}) / 2);
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-horizonatl}) / 3);
    }

    .col-2-of-3 {
        width: calc(2 * ((100% - 2 * #{$gutter-horizonatl}) / 3) + #{$gutter-horizonatl});
    }

    .col-1-of-4 {
        width: calc((100% - 3 * #{$gutter-horizonatl}) / 4);
    }

    .col-2-of-4 {
        width: calc(2 * ((100% - 3 * #{$gutter-horizonatl}) / 4) + #{$gutter-horizonatl});
    }

    .col-3-of-4 {
        width: calc(3 * ((100% - 3 * #{$gutter-horizonatl}) / 4) + 2 * #{$gutter-horizonatl});
    }

}