.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .6);
    border-radius: 3px;
    padding: 6rem;
    // this take care of the extra padding due the transform: translateX(-3rem);
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    // In order to skew all the direct children in the opposite direction and normalize their position
    &>* {
        transform: skewX(12deg);
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;

        -webkit-shape-outside: circle(50% at 50% 50%);
        -ms-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);

        -webkit-clip-path: circle(50% at 50% 50%);
        -moz-clip-path: circle(50% at 50% 50%);
        -o-clip-path: circle(50% at 50% 50%);
        -ms-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);

        transform: translateX(-3rem) skewX(12deg);
        // this is for the caption
        position: relative;
    }

    &__img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        // Fix glitch transform
        backface-visibility: hidden;
        transition: all .5s;
    }

    &__text {
        transform: skewX(12deg);
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        // by default this element is hidden
        opacity: 0;
        transition: all .5s;
        // this will fix the shaking of the animation when hover it
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%) ;
    }

}